    <%= params[:id] %>
    
    <h1>
      Todo List
    </h1>

    <div>
      <input type="checkbox">
      <h2><%= @todo_description %></h2>
      <span><%= @todo_pomodoro_estimate %> pomodoros</span>
      <a href="#" id="edit-todo-button">Edit</a>
      <a href="#" id="delete-todo-button">Delete</a>
      <a href="show/index" class="simple-link">Go back...</a>
    </div>